@model AddCategoryInput

@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Add" asp-controller="Categories" method="post">
                        <div class="mb-3">
                            <label> Kategori İsmi</label>
                            <input type="text" asp-for="Name" class="form-control" />
                        </div>
                        <div>
                            <button class="btn btn-primary">Ekle</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

