@model BookViewModel

@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div class="card">
                <div class ="card-body">
                    <form asp-action="Add" asp-controller="Books" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label> Kitap İsmi</label>
                            <input type="text" asp-for="AddBookInput.Name" class="form-control" />
                        </div>
                        <input type="hidden" asp-for="AddBookInput.IsItInLibrary"  value="true" class="form-control" />
                        <div class="mb-3">
                            <label> Kitap Resmi</label>
                            <input type="file" asp-for="AddBookInput.ImageUrl" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label> Kategori </label>
                            <select asp-for="AddBookInput.CategoryId" asp-items="@(new SelectList(Model.CategoryModels,"Id","Name"))" class="form-control">
                                <option selected="selected" value="1">Seçiniz</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label> Yazar </label>
                            <select asp-for="AddBookInput.WriterId" asp-items="@(new SelectList(Model.WriterModels,"Id","FullName"))" class="form-control">
                                <option selected="selected" value="1">Seçiniz</option>
                            </select>
                        </div>
                        <div >
                            <button class="btn btn-primary">Ekle</button>
                            <a asp-action="Add" asp-controller="Writers" class="btn btn-warning" style="margin-left: 90px">Yazar Ekle</a>
                            <a asp-action="Add" asp-controller="Categories" class="btn btn-warning">Kategori Ekle</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


